.App {
  font-family: sans-serif;
  text-align: center;
}

.mission-card {
  display: flex;
  flex-direction: column;
  border: solid 3px rgb(207, 202, 202);
  padding: 0.5rem;
  border-radius: 0.25rem;
  max-width: 300px;
  margin: 1rem 0rem;
  background-color: #e4e4e4;
}

.mission-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.mission-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(233, 169, 6);
  margin: 0px;
}

.mission-card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mission-number {
  background: rgb(139, 71, 71);
  width: 2rem;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
  min-width: 2rem;
}

.mission-date {
  font-size: 1.2rem;
  color: rgb(85, 78, 78);
  margin-bottom: 1rem;
  text-align: center;
}

.mission-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

hr {
  height: 2px;
  background-color: rgb(83, 57, 8);
}

.title {
  text-align: center;
}
.filters {
  display: flex;
  flex: 1;
  justify-items: center;
  align-items: center;
}

.date-input {
  display: block;
  flex: 1;
  text-align: center;
}
.date-input > label {
  color: goldenrod;
  padding-bottom: 1rem;
}
.date-input > input {
  padding: 0.5rem 0.25rem;
  border-radius: 3px;
}
